.course-content-description{
    position: relative;
    top: 80vh;
    left: 0;
    width: 100%;
    height: 100%;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background: #3586ff;
}

nav .nav-bar-list{
    width: 7vw ;
    height: 5vh;
    background: #3586ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    transition: all 0.5s ease-in;
}

nav .nav-bar-list:hover{
    background: #0565f5 ;
    cursor: pointer;
    color: white;
}

.course-content{
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    background: red;

}