<div class="footer-container">
    <div class="social-container">
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/mancerbilou/"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://x.com/bilal_mancer"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.tiktok.com/@bilal.mancer.tech"><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
    </div>
</div>
