.footer-container{
    position: absolute;
    top: 87vh;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 2px solid;
    border-color: rgba(33, 21, 201, 0.76);
    /*box-shadow:0px 0px 10px 3px rgba(33, 21, 201, 0.76);*/
    
}

.social-container{
    position: absolute;
    top: 4vh;
    height: 5vh;
    left: 50vw;
    transform: translateX(-50%);
}

.social-container ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 5px;
    margin-top: 5px;
}
.social-container ul li a i {
    font-size: 25px;
}

.social-container ul li a{
    text-decoration: none;
    color: rgba(33, 21, 201, 0.76);
}

.social-container ul li a i:hover{
    transform: scale(1.2);
}