<div class="header-container">
    <div>
        <button (click)="goToTutoPage()"><i class="fa-brands fa-youtube"></i>Tutorial</button>
    </div>
    <!--<div class="translate-container">
        <select name="" id="">
            <option value="french"></option>
            <option value="english"></option>
        </select>
    </div>!-->
    <div class="list-container">
        <ul>
            <li (click)="goToHomePage()">Acceuil</li>
            <li (click)="goToSkillsPage()">Compétences</li>
            <li (click)="goToAboutMePage()">A Propos</li>
            <li (click)="goToContactPage()">Contact</li>
        </ul>
    </div>
</div>
