.header-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7vh;
    background: white;
    border-bottom: 2px solid;
    border-color: rgba(33, 21, 201, 0.76);
    box-shadow:0px 0px 10px 3px rgba(33, 21, 201, 0.76);
    z-index: 1000;

}

.list-container{
    float: right;
    margin-right: 5vw;
    height: 5vh;
    margin-top: 0.3vh;
    
}

.header-container ul{
    display: flex;
    list-style: none;
    gap: 5vw;
    padding-right: 35px;
    font-family: sans-serif;
    font-weight: 600;
}
.header-container ul li{
    padding: 5px;
    transition: all 0.7s linear;
}

.header-container ul li:hover{
    cursor: pointer;
    color: white;
    transition: all 0.4s;
    background: rgba(33, 21, 201, 0.511);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .header-container ul li{
        font-size: 14px;
    }
}

@media (max-width: 420px) and (max-height: 920px) {
    .header-container ul li{
        font-size: 10px;
    }
    
}