<section id="hero" class="hero-section">

    <div class="project-details-container">
        <h1 class="project-card-title">{{'project_card_title' | translate}}</h1>
        <p class="project-card-subtitle">{{'project_card_subtitle' | translate}}</p>

        <a class="project-button" (click)="goToProjectPage()">
            <span>{{'project_text' | translate}}</span>
            <div *ngIf="loader" class="square-loader"></div>
            <span class="arrow-icon">→</span>
        </a>

    </div>

    <!-- <div class="text-container lg:order-1 lg:bg-transparent lg:backdrop-blur-none lg:border-none lg:shadow-none md:bg-gray-700/30 md:backdrop-blur-md md:border md:border-white/10 md:shadow-lg md:p-8 md:rounded-xl">
        <h1>{{'presentation_titles'| translate}}</h1>
        <p>{{'presentation_myname'| translate}} <span>{{'presentation_name' | translate}}</span></p>
        <p>{{'presentation_desc' | translate}}</p>
    </div> -->




    <div class="waves-container">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</section>

<section id="about" class="content-section bg-gray-800">

    <div class="max-w-4xl mx-auto text-center">


        <h2 class="section-title">{{'about_me' | translate}}</h2>
        <p class="text-lg md:text-xl leading-relaxed text-slate-300 mb-6">
            {{'des_first_part' | translate}}
        </p>

        <p class="text-lg md:text-xl leading-relaxed text-slate-300">
            {{'des_second_part' | translate}}
        </p>
        <a (click)="downloadAssetFile(cvFilePath,'cv')"
            class="mt-8 inline-block bg-blue-500 hover:bg-blue-600 text-white font-medium py-3 px-6 rounded-lg transition duration-300 download-btn">
            {{'download_cv_btn_text' | translate}}
        </a>

    </div>
</section>

<section id="projects" class="content-section bg-gray-900">
    <div class="max-w-7xl mx-auto">
        <h2 class="section-title">{{'project_title' | translate}}</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

            <div *ngFor="let project of projects" class="project-card bg-gray-800 rounded-lg overflow-hidden shadow-lg">
                <img [src]="project.imageLink" alt="[Image du Projet 1]" class="w-full h-48 object-cover">
                <div class="p-6">
                    <h3 class="text-xl font-semibold mb-2 text-white">{{project.name | translate}}</h3>
                    <p class="text-slate-400 mb-4">
                        {{project.description | translate}}
                    </p>
                    <a [href]="project.link" class="text-blue-400 hover:text-blue-300 font-medium"
                        target="_blank">{{'view_project_link' | translate}} &rarr;</a>

                </div>
            </div>

        </div>
    </div>
</section>

<section id="skills" class="content-section bg-gray-800">
    <div class="max-w-6xl mx-auto">
        <h2 class="section-title">{{'technical_skills_title'| translate}}</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
            <div *ngFor="let category of skillsCategory" class="space-y-4">
                <h3 class="text-xl font-semibold text-white border-b border-gray-600 pb-2 mb-4">{{ category.name |
                    translate }}</h3>

                <div *ngFor="let skill of category.skills" class="skill-entry">
                    <span class="font-medium text-slate-200">{{ skill.name }}</span>
                    <span class="text-sm text-blue-400 float-right level-badge" [ngClass]="{
                        'bg-green-200 text-green-800': skill.level === 'Avancé',
                        'bg-blue-200 text-blue-800': skill.level === 'Intermédiaire',
                        'bg-gray-200 text-gray-800': skill.level === 'Débutant'
                    }">{{ skill.level }}</span>
                    <p *ngIf="skill.context" class="text-xs text-slate-400 mt-1 clear-both">{{ skill.context }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="content-section bg-gray-900">
    <div class="max-w-3xl mx-auto text-center">
        <h2 class="section-title">{{'contact_me'| translate}}</h2>
        <p class="text-lg md:text-xl leading-relaxed text-slate-300 mb-8">
            {{'contact_me_desc1' | translate}}
            <br class="hidden sm:block"> {{'contact_me_desc2' | translate}}
        </p>
        <a href="mailto:m.mancerabdelfetah@gmail.com"
            class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-8 rounded-lg transition duration-300 text-lg shadow-md hover:shadow-lg mb-10">
            <i class="far fa-envelope mr-2"></i> {{'contact_me_btn_text' | translate }}
        </a>
        <div class="flex justify-center space-x-6">
            <a [href]="socialLink.at(0)?.link" target="_blank" rel="noopener noreferrer"
                class="text-slate-400 hover:text-white transition duration-300">
                <i class="fab fa-linkedin fa-2x"></i> </a>
            <a [href]="socialLink.at(1)?.link" target="_blank" rel="noopener noreferrer"
                class="text-slate-400 hover:text-white transition duration-300">
                <i class="fab fa-github fa-2x"></i> </a>
            <a href="#" target="_blank" rel="noopener noreferrer"
                class="text-slate-400 hover:text-white transition duration-300">
                <i class="fab fa-x fa-2x"></i> </a>
            <a [href]="socialLink.at(2)?.link" target="_blank" rel="noopener noreferrer"
                class="text-slate-400 hover:text-white transition duration-300">
                <i class="fab fa-tiktok fa-2x"></i> </a>
            <a [href]="socialLink.at(3)?.link" target="_blank" rel="noopener noreferrer"
                class="text-slate-400 hover:text-white transition duration-300">
                <i class="fab fa-youtube fa-2x"></i> </a>
        </div>
    </div>
</section>