.home-page-container{
    perspective: 1000px;
    margin: 0;
    height: 200px;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 80vh;  
    background: #3586ff;
}

.image-container{
    position: absolute;
    right: 10%;
    top: 15%;
    transform: translateY(-50%);
    background-image: url('/assets/my_photo.png');
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    animation: fadeIn 2s ease-in-out, rotatePhoto 90s infinite linear ;
    box-shadow: 0px 0px 10px 3px rgba(33, 21, 201, 0.76);   
}
@keyframes rotatePhoto {
    0% {
      transform: rotateY(0deg) rotateX(0deg);
    }
    25% {
      transform: rotateY(45deg) rotateX(0deg);
    }
    50% {
      transform: rotateY(0deg) rotateX(0deg);
    }
    75% {
      transform: rotateY(-45deg) rotateX(0deg);
    }
    100% {
      transform: rotateY(0deg) rotateX(0deg);
    }
  }

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-container{
    
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
      
}


.text-container h1{
    font-family: sans-serif;
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgba(33, 21, 201, 0.76);
    animation: typing 3.5s steps(40,end),blink-caret .6s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(33, 21, 201, 0.76); }
}

.text-container p{
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
}
.text-container p span{
    font-size: 25px;
    color: black;
}

@media (max-width: 600px) {
    .image-container{
        width: 250px;
        height: 250px;
        top: 07vh;
        right: 20%;
        font-size: 25px;
    }
}


@media (max-width: 600px) and (max-height: 920px) {
    .text-container{
        top: 70%;
    }
    .text-container h1{
        font-size: 25px;
    }
    
}


/* Home Page animation style*/
section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
}
section .air.air1{
    animation: wave 35s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .air.air2{
    animation: wave2 20s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .air.air3{
    animation: wave 35s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
section .air.air4{
    animation: wave2 10s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
}
@keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
}
