<div class="home-page-container">
    <div class="image-container">
    </div>
    <div class="text-container">
        <h1>Salut...</h1>
        <p>Je M'appelle <span>Abd-ElFetah (Bilal) Mancer</span></p>
        <p>Je suis Un Ingénieur En Informatique et Logiciel </p>
    </div>
    <div (click)="showTutoPage()" class="tuto-container">
        <div class="tuto-btn"><span>Dicouvrez mes Tuto</span></div>
    </div>
    <section>
        <div class='air air1'></div>
        <div class='air air2'></div>
        <div class='air air3'></div>
        <div class='air air4'></div>
    </section>
</div>
