.home-page-container{
    margin: 0;
    height: 200px;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 80vh;  
    background: linear-gradient(135deg, rgba(33, 21, 201, 0.76), rgba(128, 105, 255, 0.8), rgba(0, 213, 255, 0.346));;
}

.image-container{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/assets/my_photo.png');
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    animation: fadeIn 2s ease-in-out;
    box-shadow: 0px 0px 10px 3px rgba(33, 21, 201, 0.76);   
}

@media (max-width: 600px) {
    .image-container{
        width: 250px;
        height: 250px;
        top: 07vh;
        left: 50vw;
        transform: translateX(-50%);
    }
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-container{
    
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    
    
}

.text-container h1{
    font-family: sans-serif;
    font-size: 50px;
    overflow: hidden;
    border-right: 3px solid rgba(33, 21, 201, 0.76);
    animation: typing 3.5s steps(40, end),blink-caret .6s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(33, 21, 201, 0.76); }
}
