.contact-page-container{
    margin: 0;
    height: 200px;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 130vh;  
    background: #3586ff;
}

.contenu-container{
    position: absolute;
    margin: 3%;
}

.contenu-container p {
    font-family: sans-serif;
    font-size: 20px;
}

@media (max-width: 600px) and (max-height: 935px){
    .contact-page-container{
        height: 80vh;
    } 
    .contenu-container{
        height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
    }
}

@media (max-width: 380px){
    .contact-page-container{
        height: 80vh;
    }
    .contenu-container{
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
    }
}