<div class="contact-page-container">
    
        <div class="contenu-container">
            
                <h1>Resumé : </h1>
            <p>
                Bilal Mancer , Ingénieur en informatique passionné par le développement logiciel, je m'engage à optimiser les processus de développement en concevant des solutions robustes et performantes. Mon objectif est d'assurer la qualité optimale des produits logiciels, tout en garantissant leur conformité aux normes les plus élevées. 
            </p>
                <h1>Compétences principales:</h1>
    
            <p>
                Automatisation de tests avec : Selenium, Appium, Cypress
                Développement de frameworks d'automatisation de tests
                Intégration continue et intégration continue/déploiement continu (CI/CD)
                Programmation Java, JavaScript, Python, C++, SQL
                Analyse et résolution de problèmes complexes
                Collaboration étroite avec les équipes de développement et de qualité
                Recueil du besoin
                Rédaction des spécifications fonctionnelles générales SFG
                Elaboration de la stratégie de recette.
                Estimation des users stories avec l’équipe de développement (Scrum poker)
                Préparation de l’environnement des tests et des jeux de données 
                Exécution des cas de test et analyse des résultats
                Exécution des tests de non-régression (TNR).
                Conception, développement et maintenance des scripts de test automatisés.
                Écriture des plans de test automatisés détaillés et documenter les résultats des tests.
                Exécution des tests automatisés, génération et analyse des rapports de tests 
                Participation à l'amélioration continue des processus de test en proposant des idées pour l'optimisation des tests automatisés.
                Tests de Web services sur SOAP UI (SOAP/REST)
                Test d'API avec Postman
                Participation aux différentes réunions Agile / Cycle en V. 
                Gestion des anomalies : détection, analyse et suivi.
                Tests mobile (IOS-ANDROID) 
                Tests sur Tablette
                Reportings de conception et d’exécution. 
                Rédaction du PV de recette.
                Participation à la mise en production.
                Rédaction des procédures et documentations 
                Assurer la gestion d’incident de production
            </p>
        </div>
</div>   

