.contact-page-container{
    margin: 0;
    height: 200px;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 80vh;  
    background: #3586ff;
}

.contenu-container{
    margin: 3%;
}

.contenu-container p {
    font-family: sans-serif;
    font-size: 20px;
}