<div class="contact-page-container">
    
        <div class="contenu-container">
            
                <h1>Resumé : </h1>
            <p>
                Bilal Mancer , Ingénieur en informatique passionné par le développement logiciel, je m'engage à optimiser les processus de développement en concevant des solutions robustes et performantes. Mon objectif est d'assurer la qualité optimale des produits logiciels, tout en garantissant leur conformité aux normes les plus élevées. 
            </p>
                <h1>Compétences principales:</h1>
    
            <p>
                &#45; Automatisation de tests avec : Selenium, Appium, Cypress<br>
                &#45; Développement de frameworks d'automatisation de tests<br>
                &#45; Intégration continue et intégration continue/déploiement continu (CI/CD)<br>
                &#45; Programmation Java, JavaScript, Python, C++, SQL<br>
                &#45; Analyse et résolution de problèmes complexes<br>
                &#45; Collaboration étroite avec les équipes de développement et de qualité<br>
                &#45; Recueil du besoin<br>
                &#45; Rédaction des spécifications fonctionnelles générales SFG<br>
                &#45; Elaboration de la stratégie de recette.<br>
                &#45; Estimation des users stories avec l’équipe de développement (Scrum poker)<br>
                &#45; Préparation de l’environnement des tests et des jeux de données <br>
                &#45; Exécution des cas de test et analyse des résultats<br>
                &#45; Exécution des tests de non-régression (TNR).<br>
                &#45; Conception, développement et maintenance des scripts de test automatisés.<br>
                &#45; Écriture des plans de test automatisés détaillés et documenter les résultats des tests.<br>
                &#45; Exécution des tests automatisés, génération et analyse des rapports de tests <br>
                &#45; Participation à l'amélioration continue des processus de test en proposant des idées pour <br>&#45; l'optimisation des tests automatisés.<br>
                &#45; Tests de Web services sur SOAP UI (SOAP/REST)<br>
                &#45; Test d'API avec Postman<br>
                &#45; Participation aux différentes réunions Agile / Cycle en V. <br>
                &#45; Gestion des anomalies : détection, analyse et suivi.<br>
                &#45; Tests mobile (IOS-ANDROID) <br>
                &#45; Tests sur Tablette<br>
                &#45; Reportings de conception et d’exécution.<br> 
                &#45; Rédaction du PV de recette.<br>
                &#45; Participation à la mise en production.<br>
                &#45; Rédaction des procédures et documentations <br>
                &#45; Assurer la gestion d’incident de production<br>
            </p>
        </div>
</div>   

