.contact-page-container{
    margin: 0;
    height: 200px;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 80vh;  
    background: #3586ff;
}

.title-container{
    position: absolute;
    top: 5vh;
    left: 50vw;
    transform: translateX(-50%) ;
}

.title-container h1{
    font-family: sans-serif;
}

.contact-us-container{
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%) ;
    margin: 0;
    padding: 0;
}

.contact-us-container ul{
    display: flex;
    list-style: none;
    gap: 20vw;
    padding-left: 0;
    
}

.contact-us-container ul li i{
    font-size: 30px;
    
}

.contact-us-content-container{
    position: absolute;
    top: 40vh;
    left: 48.5vw;
    transform: translateX(-50%) ;
    margin: 0;
    padding: 0;
}

.contact-us-content-container ul {
    display: flex;
    list-style: none;
    gap: 15vw;
    padding-left: 0;
}

