<div class="contact-page-container">
    <div class="title-container">
        <h1>Comment prendre contact avec moi?</h1>
    </div>

    <div class="contact-us-container">
        <ul>
            <li><i class="fa-solid fa-phone"></i></li>
            <li><i class="fa-solid fa-envelope"></i></li>
            <li><i class="fa-brands fa-linkedin"></i></li>
        </ul> 
                  
    </div>

    <div class="contact-us-content-container">
        <ul>
            <li><a href="tel:+33638034143">+33638034143</a>
            <li class="email-li"><a href="/contact-me">m.mancerabdelfetah&#64;gmail.com</a></li>
            <li><a href="/contact-me">Linkedin</a></li>
        </ul>
    </div>
    
</div>
