.home-page-container{
    margin: 0;
    height: 200px;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 80vh;  
    background: #3586ff;
}

.skills-card-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: inline-flex;
    justify-content: space-between;
}

.cards {
    background: #3586ff;
    text-wrap: pretty;
    width: 17vw;
    margin: 3%;
    border: solid 2px rgba(33, 21, 201, 0.76);
    border-radius: 20px;
    box-shadow:0px 0px 10px 3px rgba(33, 21, 201, 0.76);
    transition: all 0.7s linear;
    
}

.cards:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.cards-title-container{
    text-wrap: wrap;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.cards-title-container ul{
    display: block;
    padding-top:25px ;
    list-style: decimal;
}
.cards-title-container ul li{
    padding-top:25px ;
}

@media (max-width: 600px) and (max-height: 935px) {
    .skills-card-container{
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
    }

    .cards {
        background: #3586ff;
        width: 75vw;
       
    
    }
    
}