.home-page-container{
    perspective: 1000px;
    margin: 0;
    height: 200px;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 80vh;  
    background: #ffffff;
}

.menu{
    background: #3586ff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20vw;
    border-left: solid 2px;
    border-left-color: rgba(33, 21, 201, 0.76);
    z-index: 1000;
}

.menu ul{
    list-style: none;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin-top: 5px;
}

.menu ul li {
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    height: 50px;
    transition: all 0.3s linear;
}

.menu ul li:hover{
    cursor: pointer;
    background-color: #1f70ea;
    color: white;
}

.contenu-container{
    position: absolute;
    background: white;
    right: 20vw;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.contenu-container iframe{
    width: 100%;
    height: 75vh;
}


.btn-container{
    position: absolute;
    background: #fcfcfcda;
    bottom: 0;
    right: 20vw;
    left: 0;
    display: flex;
    z-index: 1001;
    border-radius: 20px;
}

.btn-container div{
    width: 50%;
    text-align: center;
    height: 5vh;
}

.btn-container .btn:hover{
    cursor: pointer;
    background: #3586ff91;

}

.btn-container div i {
    font-size: 2.5vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s linear;
}

.btn-container div:hover .next{
    transform: translateY(-50%) translateX(250%);
}

.btn-container div:hover .previous{
    transform: translateY(-50%) translateX(-250%)
}


.btn-container .chapter-content{
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overview-content{
    position: absolute;
    top: 5vh;
    left: 40vw;
    transform: translateX(-12vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-content h1{
    font-size: 5vh;
}