<div class="home-page-container">
    <div (click)="openTheMenu()" *ngIf="menuOpenBtn" class="menu-open-container">
        <span class="menu-open"><i class="fa-solid fa-arrow-left"></i><span class="contenu-text">Contenu</span></span>
    </div>
    
    <div>
        <div [@menuTriger]="menuEnabled" class="menu">
            <i (click)="closeTheMenu()" class="fa-duotone fa-solid fa-bars close-icon"></i>
            <ul>
                <li *ngFor="let categorie of categories" (click)="showVideoSection(categorie, categorie.id)">
                    <span>{{categorie.name}}</span>


                    <ul *ngIf="subMenuEnabled[categorie.id]" class="sub-menu">
                        <li *ngFor="let item of categorie.video" (click)="showSubCategory(item,categorie.id, $event)">Chapitre {{item.id}} </li>
                    </ul>


                </li>
            </ul>
        </div>
        <div class="contenu-container" [@fade]="videoSectionEnabled">
            <iframe width="560" height="315" [src]="safeVideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div *ngIf="bnt_next_previousEnabled" class="btn-container">
        <div class="btn btn-previous" (click)="previousVideo()"><i class="fa-solid fa-arrow-left previous"></i></div>
        <div class="chapter-content">Chapitre : {{currendVideoId+1}}</div> 
        <div class="btn btn-next" (click)="nextVideo()"><i class="fa-solid fa-arrow-right next"></i></div>   
    </div>

    <app-course-description></app-course-description>

    <div class="overview-content">
        <div>
            <h1>Decouvrez mes Turoriels</h1>
        </div>
    </div>
</div>