.home-page-container{
    perspective: 1000px;
    margin: 0;
    height: 200px;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 80vh;  
    background: #ffffff;
    overflow-x: hidden;
}

.menu-open-container{
    position: fixed;
    top: 10%;
    right: -7vw;
    background: #3586ff;
    z-index: 10001;
    height: 5vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    border: solid 2px rgba(71, 67, 67, 0.848) ;
}

.menu-open-container:hover{
    transform: translateX(-50%);
    cursor: pointer;
    background: #3586ffaf;
}

.menu-open-container i{
    position: absolute;
    left: 1vw;
}

.menu-open .contenu-text{
    font-family: sans-serif;
    font-weight: 600;
    opacity: 0;
    transition: all 1s ease-in;
}

.menu-open-container:hover .contenu-text{
    opacity: 1;
}

.menu{
    background: #3586ff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20vw;
    border-left: solid 2px;
    border-left-color: rgba(33, 21, 201, 0.76);
    z-index: 1000;
}

.close-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}

.close-icon:hover{
    cursor: pointer;
    color: white;
}


.menu ul{
    list-style: none;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin-top: 6vh;
}

.menu ul li {
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    height: 50px;
    transition: all 0.3s linear;
}

.menu ul li:hover{
    cursor: pointer;
    background-color: #1f70ea;
    color: white;
}

.menu .sub-menu{
    position: absolute;
    top: 100%;
    left: 5%;
}

.menu .sub-menu li{
    color: white;
}

.contenu-container{
    position: absolute;
    background: white;
    right: 20vw;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.contenu-container iframe{
    width: 100%;
    height: 75vh;
}


.btn-container{
    position: absolute;
    background: #fcfcfcda;
    bottom: 0;
    right: 20vw;
    left: 0;
    display: flex;
    z-index: 1001;
    border-radius: 20px;
}

.btn-container div{
    width: 50%;
    text-align: center;
    height: 5vh;
}

.btn-container .btn:hover{
    cursor: pointer;
    background: #3586ff91;

}

.btn-container div i {
    font-size: 2.5vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s linear;
}

.btn-container div:hover .next{
    transform: translateY(-50%) translateX(250%);
}

.btn-container div:hover .previous{
    transform: translateY(-50%) translateX(-250%)
}


.btn-container .chapter-content{
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overview-content{
    position: absolute;
    top: 5vh;
    left: 40vw;
    transform: translateX(-12vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-content h1{
    font-size: 5vh;
}