<main class="max-w-10xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold text-center text-white mb-12 pt-8 sm:pt-12">{{'profes_expri_title' | translate }}</h2>

        <div class="space-y-8">
            <div class="experience-item">
                <h3 class="text-2xl font-semibold text-white mb-1">{{'cordinator_post' | translate}}</h3>
                <p class="text-blue-400 font-medium mb-2">{{'cordinator_post_company_date' | translate}}</p>
                <ul class="list-disc list-inside text-slate-300 space-y-1">
                    <li>{{'cordinator_task_A' | translate}}</li>
                    <li>{{'cordinator_task_B' | translate}}</li>
                    <li>{{'cordinator_task_C' | translate}}</li>
                    <li>{{'cordinator_task_D' | translate}}</li>
                    <li>{{'cordinator_task_E' | translate}}</li>
                </ul>
            </div>
        </div>
</main>


