main{
    font-family: 'Inter', sans-serif;
    margin: 0;
     /* --- Background cohérent --- */
    background-color: #1a202c; /* Fallback */
    background-image: linear-gradient(135deg, #2d3748 0%, #1a202c 100%); /* Assure que le fond couvre au moins toute la hauteur */
    color: #e2e8f0; /* Base text color */
    min-height: 100vh
}

/* --- Experience Item Styling (Timeline) --- */
.experience-item {
    border-left: 3px solid #4a5568; /* Left border for timeline effect */
    padding-left: 1.5rem; /* Spacing from border */
    position: relative;
    padding-bottom: 2rem; /* Espace sous chaque item */
}
 .experience-item:last-child {
     padding-bottom: 0; /* Pas d'espace sous le dernier item */
 }

.experience-item::before { /* Dot on the timeline */
    content: '';
    position: absolute;
    left: -8px; /* Ajusté pour centrer le point de 12px sur une bordure de 3px */
    top: 4px; /* Ajuster l'alignement vertical du point */
    width: 12px;
    height: 12px;
    background-color: #63b3ed; /* Accent color */
    border-radius: 50%;
    z-index: 1;
}